body, html {
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

body {
  max-width: 100%;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: #fff; }
  body.blue {
    background: #265C8A; }
    body.blue .nav a {
      color: #fff; }
      body.blue .nav a:after {
        background-color: #fff; }

a {
  color: #000;
  text-decoration: none; }
  a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: inherit; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.bg_blur {
  position: relative; }
  .bg_blur:after {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0.8;
    content: '';
    position: absolute;
    z-index: -5;
    display: block;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    background-color: #265C8A; }

.bg_blur-white {
  position: relative; }
  .bg_blur-white:after {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0.8;
    content: '';
    position: absolute;
    z-index: -5;
    display: block;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    background-color: #fff; }

.header {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5000;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  color: #265C8A;
  font-family: 'Montserrat', sans-serif; }
  .header .header_wrap {
    max-width: 1400px;
    margin: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px 10px;
    height: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .header__logo {
    margin-right: auto;
    display: inline-block;
    height: 100%; }
    .header__logo img {
      height: 100%; }
  .header__join {
    -webkit-transition: 0;
    transition: 0;
    margin-right: 50px;
    padding: 5px 15px;
    font-weight: 200;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff !important; }
    .header__join:hover {
      font-weight: 600;
      color: #000 !important;
      background-color: #fff; }
  .header__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .header__info a {
      color: #fff;
      margin-bottom: 5px; }
      .header__info a:hover {
        text-decoration: underline; }
      .header__info a:last-child {
        margin-bottom: 0; }

.nav {
  width: 50px;
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 50; }
  .nav a {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
    color: #265C8A;
    opacity: 0.8;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .nav a i {
      font-size: 25px; }
    .nav a img {
      width: 100%; }
    .nav a span {
      opacity: 0;
      width: 100px;
      text-align: center;
      top: 25px;
      position: absolute;
      font-size: 14px;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
    .nav a:hover span {
      opacity: 1; }
    .nav a:after {
      opacity: 0.5;
      top: -25px;
      content: "";
      display: block;
      position: absolute;
      width: 5px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      height: 5px;
      background: #265C8A; }
    .nav a:first-child:after {
      display: none; }
    .nav a.active {
      opacity: 1; }
      .nav a.active span {
        opacity: 1; }

.main {
  padding: 0 150px;
  background-image: url("../img/bg.png");
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  .main img {
    position: relative;
    z-index: 1;
    max-width: 350px; }
  .main h1 {
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 50px;
    color: #fff;
    font-weight: 200; }
  .main:before {
    z-index: 0;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); }

.about_us {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 20px 0 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .about_us__img {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: relative;
    width: 30%; }
    .about_us__img img {
      -webkit-border-radius: 50%;
              border-radius: 50%;
      width: 80%;
      margin: 10%; }
    .about_us__img span {
      padding: 5px 0;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      color: #fff;
      top: 100%;
      right: 0;
      position: absolute;
      width: 100%;
      text-align: center;
      display: inline-block; }
    .about_us__img img.background-img {
      margin: 0;
      z-index: -2;
      -webkit-filter: blur(7px);
              filter: blur(7px);
      position: absolute;
      width: 100%;
      left: 0%;
      top: 0%; }
  .about_us__text {
    -moz-text-align-last: auto;
         text-align-last: auto;
    margin-left: auto;
    width: 65%;
    color: #fff; }
    .about_us__text h3 {
      border-bottom: 2px solid #fff;
      font-weight: 200;
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 18px;
      width: 100%; }
    .about_us__text span {
      display: inline-block;
      font-weight: 100;
      font-size: 20px;
      line-height: 30px; }

.direction {
  font-family: 'Montserrat', sans-serif;
  padding: 0 20px 0 150px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #265C8A; }
  .direction .direction_wrap {
    color: #fff;
    width: 100%; }
  .direction .direction__box {
    position: relative;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .direction__title {
    color: #265C8A;
    border-bottom: 2px solid #265C8A;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    font-weight: 200;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 50px; }
  .direction__item {
    color: #265C8A;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
    min-height: 100px;
    text-align: center;
    width: 30%; }
    .direction__item span {
      -webkit-transition: 0.5s;
      transition: 0.5s;
      display: block;
      font-weight: 100;
      font-size: 20px;
      line-height: 30px; }
      .direction__item span strong {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .direction__item span strong:before {
          margin-right: 10px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          content: '';
          width: 10px;
          height: 10px;
          display: block;
          background-color: #265C8A; }
    .direction__item.d_box_odd {
      margin-left: 20%; }
    .direction__item.d_box_even {
      margin-right: 20%; }
    .direction__item-logo {
      margin-left: 33%;
      top: 0;
      bottom: 0;
      height: 100%;
      position: absolute; }

.projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 150px; }
  .projects .projects_wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff; }
  .projects__title {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    font-weight: 200;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 50px; }
  .projects__item {
    width: 25%;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative; }
    .projects__item img {
      width: 100%; }
    .projects__item h4 {
      font-size: 25px; }
    .projects__item span {
      font-size: 14px; }

.docs {
  color: #265C8A;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 150px; }
  .docs .docs_wrap {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #265C8A;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .docs__title {
    border-bottom: 2px solid #265C8A;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    font-weight: 200;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 50px; }
  .docs__item {
    padding-left: 35px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    margin-bottom: 15px; }
    .docs__item i {
      left: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      top: 0;
      bottom: 0;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 25px;
      position: absolute; }
    .docs__item h4 {
      font-weight: 300;
      font-size: 20px; }
    .docs__item a {
      color: #265C8A;
      font-weight: 300; }
      .docs__item a:hover {
        text-decoration: underline; }

.contacts {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 150px; }
  .contacts .contacts_wrap {
    width: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .contacts__title {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    font-weight: 200;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 50px; }
  .contacts__item {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .contacts__item > div {
      width: 50%;
      padding: 0 20px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .contacts__item > div h5 {
        font-size: 20px;
        margin-bottom: 5px; }
      .contacts__item > div span {
        margin-bottom: 5px; }
      .contacts__item > div a {
        color: #fff; }
        .contacts__item > div a:hover {
          text-decoration: underline; }
    .contacts__item form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .contacts__item form input[type='text'] {
        color: #fff;
        font-family: 'Open-Sans', sans-serif;
        padding: 0 10px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        height: 30px;
        width: -webkit-calc(50% - 15px);
        width: calc(50% - 15px);
        background-color: transparent;
        outline: none;
        border: 2px solid #fff;
        margin-right: auto; }
        .contacts__item form input[type='text']::-webkit-input-placeholder {
          color: #fff; }
        .contacts__item form input[type='text']::-moz-placeholder {
          color: #fff; }
        .contacts__item form input[type='text']:-moz-placeholder {
          color: #fff; }
        .contacts__item form input[type='text']:-ms-input-placeholder {
          color: #fff; }
      .contacts__item form input[type='email'] {
        color: #fff;
        font-family: 'Open-Sans', sans-serif;
        padding: 0 10px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        height: 30px;
        width: -webkit-calc(50% - 15px);
        width: calc(50% - 15px);
        background-color: transparent;
        outline: none;
        border: 2px solid #fff;
        margin-left: auto; }
        .contacts__item form input[type='email']::-webkit-input-placeholder {
          color: #fff; }
        .contacts__item form input[type='email']::-moz-placeholder {
          color: #fff; }
        .contacts__item form input[type='email']:-moz-placeholder {
          color: #fff; }
        .contacts__item form input[type='email']:-ms-input-placeholder {
          color: #fff; }
      .contacts__item form textarea {
        color: #fff;
        font-family: 'Open-Sans', sans-serif;
        resize: none;
        padding: 0 10px;
        margin-top: 15px;
        width: 100%;
        line-height: 20px;
        height: 80px;
        background-color: transparent;
        outline: none;
        border: 2px solid #fff; }
        .contacts__item form textarea::-webkit-input-placeholder {
          color: #fff; }
        .contacts__item form textarea::-moz-placeholder {
          color: #fff; }
        .contacts__item form textarea:-moz-placeholder {
          color: #fff; }
        .contacts__item form textarea:-ms-input-placeholder {
          color: #fff; }
      .contacts__item form input[type='submit'] {
        cursor: pointer;
        color: #000;
        margin-top: 20px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        height: 40px;
        width: 100%;
        font-size: 18px;
        background: #fff;
        outline: none;
        border: 2px solid #fff; }
        .contacts__item form input[type='submit']:hover {
          background-color: transparent;
          color: #F0D731;
          border-color: #F0D731; }
