@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-semibolditalic.ttf");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-semibold.ttf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans-regular.ttf");
  font-weight: 400;
  font-style: normal; }

* {
  font-family: 'Open Sans', sans-serif; }

.lock {
  height: auto;
  overflow: hidden !important; }

.header {
  z-index: 20;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  max-width: 1170px;
  margin: auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  .header .header-wrap {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    border-bottom: 2px solid #dfdfdf; }
  .header__logo {
    width: 270px;
    height: 40px; }
  .header__nav {
    margin-left: 30px; }
    .header__nav .nav__main {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .header__nav .nav__main ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .header__nav .nav__main ul li {
          line-height: 15px; }
          .header__nav .nav__main ul li a {
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            color: #000;
            text-transform: uppercase;
            font-size: 15px;
            line-height: 15px;
            font-weight: 600;
            margin-right: 20px; }
            .header__nav .nav__main ul li a:hover {
              color: #6ac052; }
    .header__nav .nav__bottom {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 5px; }
      .header__nav .nav__bottom a {
        padding: 4px 0;
        padding-left: 10px;
        color: #6ac052;
        font-size: 14px;
        line-height: 14px;
        margin-left: 8px;
        border-left: 1px solid #d3d3d3; }
        .header__nav .nav__bottom a:first-child {
          padding-left: 0;
          margin-left: 0;
          border-left: 0; }
        .header__nav .nav__bottom a:hover {
          text-decoration: underline; }
  .header__lang {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto; }
    .header__lang a {
      color: #000;
      border: 1px solid #dfdfdf;
      text-transform: uppercase;
      font-weight: 600;
      padding: 4px;
      border-right: none; }
      .header__lang a:last-child {
        border-right: 1px solid #dfdfdf; }
    .header__lang .lang-active {
      color: #fff;
      background: #6ac052;
      border-color: #6ac052; }
  .header__search {
    -webkit-transition: .3s;
    transition: .3s;
    padding: 0 10px;
    cursor: pointer;
    margin-left: 15px;
    font-size: 20px; }
    .header__search:active, .header__search:hover {
      color: #61b739;
      text-decoration: underline; }
  .header__search__form {
    padding: 0 15px;
    z-index: 15;
    left: 0;
    right: 0;
    top: -75px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 70px;
    position: absolute;
    width: 100%;
    background: #fff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #6ac052; }
    .header__search__form form {
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .header__search__form form .header__search__inputbox {
        width: -webkit-calc(100% - 200px);
        width: calc(100% - 200px);
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 0;
        display: block;
        color: #000;
        font-size: 18px;
        padding: 20px; }
        .header__search__form form .header__search__inputbox:focus {
          outline: 0; }
      .header__search__form form .header__search__btn-submit, .header__search__form form .header__search__btn-close {
        background-color: transparent;
        border: 0;
        outline: 0;
        display: block;
        height: 100%;
        width: 100px; }
        .header__search__form form .header__search__btn-submit i, .header__search__form form .header__search__btn-close i {
          font-size: 20px; }
        .header__search__form form .header__search__btn-submit:hover, .header__search__form form .header__search__btn-close:hover {
          color: #6ac052; }
  .header__search__form-active {
    top: 0; }
  .header_hide {
    top: -72px; }
  .header__menu-mobile {
    cursor: pointer;
    padding: 0 6px;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
                -ms-grid-row-align: stretch;
            align-self: stretch;
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .header__menu-mobile i {
      position: relative;
      display: block;
      width: 24px;
      height: 4px;
      -webkit-border-radius: 1px;
              border-radius: 1px;
      background-color: #333; }
      .header__menu-mobile i:after, .header__menu-mobile i:before {
        -webkit-transition: .3s;
        transition: .3s;
        position: absolute;
        background-color: inherit;
        content: '';
        display: block;
        width: inherit;
        height: inherit;
        -webkit-border-radius: 1px;
                border-radius: 1px; }
      .header__menu-mobile i:after {
        top: 8px; }
      .header__menu-mobile i:before {
        bottom: 8px; }
    .header__menu-mobile:hover i {
      background-color: #6ac052; }

.header__search-overlay {
  display: none;
  z-index: 15;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); }

.branding_link {
  z-index: 1;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #fff no-repeat;
  background-size: cover; }

.body-wrap {
  z-index: 5;
  position: relative;
  max-width: 1170px;
  margin: auto; }

.slide_up {
  margin-left: 525px;
  z-index: 10;
  position: fixed;
  bottom: -50px;
  left: 50%;
  right: auto;
  width: 42px;
  height: 42px;
  background: #6ac052;
  color: #fff;
  opacity: .7;
  text-align: center;
  -webkit-transition: all .1s linear;
  transition: all .1s linear; }
  .slide_up i {
    line-height: 42px; }
  .slide_up-visible {
    bottom: 50px; }

.blocktitle {
  width: 100%;
  font-size: 18px;
  color: #838383;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  margin-bottom: 20px; }
  .blocktitle a {
    font-weight: 600;
    color: inherit; }
    .blocktitle a:hover {
      color: #61b739;
      text-decoration: underline; }

.news {
  position: relative;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 132px 20px 50px 20px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .news__carousel {
    color: #fff;
    width: 445px; }
    .news__carousel a {
      color: inherit; }
    .news__carousel .material_item {
      -webkit-transition: all .1s linear;
      transition: all .1s linear;
      width: 100%; }
      .news__carousel .material_item .material_item__photo {
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%; }
        .news__carousel .material_item .material_item__photo:hover {
          opacity: 0.9; }
      .news__carousel .material_item .material_item__photo.hover {
        opacity: 0.9; }
      .news__carousel .material_item img {
        width: inherit;
        height: auto; }
      .news__carousel .material_item .material_item__title.hover {
        border-color: #fff; }
      .news__carousel .material_item .material_item__title {
        margin: 0 15px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: absolute;
        bottom: 40px; }
        .news__carousel .material_item .material_item__title p {
          display: inline;
          font-size: 18px;
          line-height: 24px;
          padding-bottom: 1px;
          border-bottom: 1px solid transparent;
          -webkit-transition: all .1s linear;
          transition: all .1s linear;
          margin: 0; }
          .news__carousel .material_item .material_item__title p:hover {
            border-color: #fff; }
      .news__carousel .material_item .material_item__bottom {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: absolute;
        bottom: 0;
        padding: 0 15px 10px 15px;
        width: 100%;
        font-size: 13px;
        line-height: 24px; }
        .news__carousel .material_item .material_item__bottom .mi__bottom__tag ul {
          padding: 0;
          margin: 0;
          list-style: none; }
          .news__carousel .material_item .material_item__bottom .mi__bottom__tag ul li {
            display: none; }
            .news__carousel .material_item .material_item__bottom .mi__bottom__tag ul li:first-child {
              display: block; }
        .news__carousel .material_item .material_item__bottom .mi__bottom__tag:hover {
          text-decoration: underline; }
        .news__carousel .material_item .material_item__bottom .mi__bottom__viewers {
          margin-left: auto; }
          .news__carousel .material_item .material_item__bottom .mi__bottom__viewers i {
            padding-right: 3px; }
        .news__carousel .material_item .material_item__bottom .mi__bottom__date {
          margin-right: 10px; }
    .news__carousel .owl-nav {
      height: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .news__carousel .owl-nav i {
        color: #fff;
        line-height: 36px;
        font-size: 36px; }
      .news__carousel .owl-nav .owl-prev, .news__carousel .owl-nav .owl-next {
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        width: 36px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%; }
      .news__carousel .owl-nav .owl-prev {
        left: 0; }
      .news__carousel .owl-nav .owl-next {
        right: 0; }
  .news__board {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 15px 5px 15px;
    width: -webkit-calc(100% - 450px);
    width: calc(100% - 450px); }
    .news__board-link {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      margin-bottom: 10px; }
      .news__board-link .board-link__date {
        font-size: 13px;
        line-height: 24px;
        color: #5f5f5f;
        margin-right: 10px;
        vertical-align: middle; }
      .news__board-link .board-link__tag ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .news__board-link .board-link__tag ul li {
          line-height: 24px;
          display: none; }
          .news__board-link .board-link__tag ul li:first-child {
            display: inline-block; }
          .news__board-link .board-link__tag ul li a {
            font-size: 13px;
            line-height: 24px;
            color: #61b739;
            text-decoration: none;
            vertical-align: middle; }
            .news__board-link .board-link__tag ul li a:hover {
              color: #6ac052;
              text-decoration: underline; }
      .news__board-link .board-link__description {
        margin-top: 5px;
        width: 100%;
        color: #000; }
        .news__board-link .board-link__description:hover > p {
          border-color: #999; }
        .news__board-link .board-link__description p {
          display: inline;
          margin: 0;
          border-bottom: 1px solid transparent;
          -webkit-transition: all .1s linear;
          transition: all .1s linear;
          font-size: 15px;
          line-height: 22px;
          font-weight: 400;
          padding-bottom: 1px; }
      .news__board-link:last-child {
        margin-bottom: 0; }
  .news:after, .news:before {
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #dfdfdf; }
  .news:after {
    top: 102px; }
  .news:before {
    bottom: 30px; }

.board-more {
  margin-top: 30px;
  width: 100%;
  text-align: center; }
  .board-more a {
    margin: auto;
    display: inline-block;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 2px solid #ababab;
    height: 30px;
    padding: 0 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    background: #fff; }
    .board-more a:hover {
      border-color: #6ac052;
      color: #000;
      text-decoration: none; }

.read_block {
  position: relative;
  padding: 50px 0;
  background-color: #fff; }
  .read_block__title {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 17px; }
  .read_block__top {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .read_block__top .material_item {
      overflow: hidden;
      color: #fff;
      position: relative;
      width: 47%; }
      .read_block__top .material_item a {
        color: #fff; }
      .read_block__top .material_item__photo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
        background-color: transparent;
        display: block;
        width: 100%;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
        .read_block__top .material_item__photo img {
          width: inherit;
          height: auto; }
        .read_block__top .material_item__photo:hover {
          -webkit-transform: scale(1.2) translate3d(0, 0, 0);
                  transform: scale(1.2) translate3d(0, 0, 0); }
        .read_block__top .material_item__photo:hover + .material_item__title {
          border-color: #fff; }
      .read_block__top .material_item__photo.hover {
        -webkit-transform: scale(1.2) translate3d(0, 0, 0);
                transform: scale(1.2) translate3d(0, 0, 0); }
      .read_block__top .material_item__title {
        margin: 0 15px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: absolute;
        bottom: 40px;
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 1px;
        border-bottom: 1px solid transparent;
        -webkit-transition: all .1s linear;
        transition: all .1s linear; }
        .read_block__top .material_item__title:hover {
          border-color: #fff; }
      .read_block__top .material_item__bottom {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: absolute;
        bottom: 0;
        padding: 0 15px 10px 15px;
        width: 100%;
        font-size: 13px;
        line-height: 24px; }
        .read_block__top .material_item__bottom .mi__bottom__date {
          margin-right: 10px; }
        .read_block__top .material_item__bottom .mi__bottom__tag:hover {
          text-decoration: underline; }
        .read_block__top .material_item__bottom .mi__bottom__viewers {
          margin-left: auto; }
          .read_block__top .material_item__bottom .mi__bottom__viewers i {
            padding-right: 3px; }
  .read_block__other {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .read_block__other .material_item {
      position: relative;
      width: 22%; }
      .read_block__other .material_item__photo {
        display: block; }
        .read_block__other .material_item__photo img {
          height: 100%;
          width: 100%; }
        .read_block__other .material_item__photo:hover {
          opacity: 0.9; }
        .read_block__other .material_item__photo:hover + .material_item__info + .material_item__title p {
          border-color: #999; }
      .read_block__other .material_item__info {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        font-size: 13px;
        line-height: 24px; }
        .read_block__other .material_item__info .material_item__date {
          margin-right: 10px; }
        .read_block__other .material_item__info .material_item__tag {
          color: #6ac052; }
          .read_block__other .material_item__info .material_item__tag:hover {
            text-decoration: underline; }
        .read_block__other .material_item__info .material_item__viewers {
          color: #b2b2b2;
          margin-left: auto; }
          .read_block__other .material_item__info .material_item__viewers i {
            padding-right: 3px; }
      .read_block__other .material_item__title {
        padding-bottom: 3px;
        font-weight: 600;
        font-size: 15px;
        line-height: 23px;
        color: #000; }
        .read_block__other .material_item__title:hover > p {
          border-color: #999; }
        .read_block__other .material_item__title p {
          display: inline;
          margin: 0;
          padding-bottom: 1px;
          border-bottom: 1px solid transparent;
          -webkit-transition: all .1s linear;
          transition: all .1s linear; }
  .read_block:after, .read_block:before {
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #dfdfdf; }
  .read_block:after {
    top: 30px; }
  .read_block:before {
    bottom: 30px; }

.projects_block {
  position: relative;
  background-color: #fff;
  padding: 50px 20px; }
  .projects_block .pb__slider-wrapp {
    border: 1px solid #dfdfdf; }
    .projects_block .pb__slider-wrapp .pb__slider .material_item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .projects_block .pb__slider-wrapp .pb__slider .material_item__photo {
        width: 50%;
        background: #fff center;
        background-size: cover; }
        .projects_block .pb__slider-wrapp .pb__slider .material_item__photo img {
          display: none; }
      .projects_block .pb__slider-wrapp .pb__slider .material_item__info {
        width: 50%;
        padding: 20px 20px 120px 20px; }
        .projects_block .pb__slider-wrapp .pb__slider .material_item__info .mi__info__title {
          font-size: 24px;
          margin-top: 30px;
          line-height: 30px;
          font-weight: 600;
          color: #333;
          margin-bottom: 24px; }
        .projects_block .pb__slider-wrapp .pb__slider .material_item__info .mi__info__description {
          font-family: 'OpenSans',Helvetica,Arial,sans-serif;
          font-size: 14px;
          line-height: 18px;
          font-weight: 600;
          color: #333;
          margin-bottom: 34px;
          display: inline-block; }
        .projects_block .pb__slider-wrapp .pb__slider .material_item__info .mi__info__more {
          display: block;
          margin-top: 10px;
          margin-bottom: 20px;
          color: #61b739; }
          .projects_block .pb__slider-wrapp .pb__slider .material_item__info .mi__info__more:hover {
            text-decoration: underline; }
  .projects_block .pb_other h3 {
    width: -webkit-calc(50% - 31px);
    width: calc(50% - 31px);
    bottom: 150px;
    right: 31px;
    position: absolute;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
    margin: 0; }
  .projects_block .pb_other .pb_thumbnail-wrapp {
    bottom: 51px;
    right: 16px;
    padding: 10px 2px 0 2px;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: auto;
    overflow: hidden;
    background: #fff;
    z-index: 5;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
    .projects_block .pb_other .pb_thumbnail-wrapp .pb__slider-left, .projects_block .pb_other .pb_thumbnail-wrapp .pb__slider-right {
      cursor: pointer;
      width: 36px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .projects_block .pb_other .pb_thumbnail-wrapp .pb__slider-left i, .projects_block .pb_other .pb_thumbnail-wrapp .pb__slider-right i {
        color: #9f9f9f;
        line-height: 36px;
        font-size: 36px; }
    .projects_block .pb_other .pb_thumbnail-wrapp .pb-thumbnail-slider {
      width: -webkit-calc(100% - 72px);
      width: calc(100% - 72px); }
      .projects_block .pb_other .pb_thumbnail-wrapp .pb-thumbnail-slider .synced .pb-thumbnail__item {
        font-weight: 600;
        border-color: #6ac052 !important; }
      .projects_block .pb_other .pb_thumbnail-wrapp .pb-thumbnail-slider .pb-thumbnail__item {
        border-bottom: 3px solid transparent;
        cursor: pointer;
        text-align: center;
        width: 100%; }
        .projects_block .pb_other .pb_thumbnail-wrapp .pb-thumbnail-slider .pb-thumbnail__item img {
          width: auto;
          height: auto;
          max-width: 100%;
          margin: auto; }
        .projects_block .pb_other .pb_thumbnail-wrapp .pb-thumbnail-slider .pb-thumbnail__item h4 {
          font-size: 11px;
          line-height: 14px;
          color: #000;
          font-weight: 600;
          margin-top: 5px;
          margin-bottom: 5px; }
        .projects_block .pb_other .pb_thumbnail-wrapp .pb-thumbnail-slider .pb-thumbnail__item:hover {
          border-color: #d5f2cd; }
  .projects_block:after, .projects_block:before {
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #dfdfdf; }
  .projects_block:after {
    top: 30px; }
  .projects_block:before {
    bottom: 30px; }

.special_block {
  position: relative;
  padding: 50px 20px;
  background-color: #fff; }
  .special_block .sb_thumbnail-wrapp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px; }
    .special_block .sb_thumbnail-wrapp .sb_thumbnail-slider {
      width: -webkit-calc(100% - 72px);
      width: calc(100% - 72px); }
      .special_block .sb_thumbnail-wrapp .sb_thumbnail-slider .synced span {
        border-color: #6ac052; }
      .special_block .sb_thumbnail-wrapp .sb_thumbnail-slider span {
        line-height: 40px;
        height: 40px;
        display: inline-block;
        cursor: pointer;
        background: #fff;
        padding: 0 20px;
        font-size: 14px;
        color: #000;
        border-bottom: 3px solid transparent;
        -webkit-transition: all .1s linear;
        transition: all .1s linear; }
        .special_block .sb_thumbnail-wrapp .sb_thumbnail-slider span:hover {
          border-color: #d5f2cd; }
    .special_block .sb_thumbnail-wrapp .sb__slider-left, .special_block .sb_thumbnail-wrapp .sb__slider-right {
      cursor: pointer;
      width: 36px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .special_block .sb_thumbnail-wrapp .sb__slider-left i, .special_block .sb_thumbnail-wrapp .sb__slider-right i {
        color: #9f9f9f;
        line-height: 36px;
        font-size: 36px; }
  .special_block .sb__slider-wrapp .sb__slider .sb__slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_item {
      color: #fff;
      position: relative;
      -webkit-transition: all .1s linear;
      transition: all .1s linear;
      width: 450px; }
      .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_item a {
        color: #fff; }
      .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_item .material_item__photo {
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
        background-color: transparent;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%; }
        .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_item .material_item__photo:hover {
          opacity: 0.95; }
      .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_item .material_item__photo.hover {
        opacity: 0.95; }
      .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_item img {
        width: inherit;
        height: auto; }
      .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_item .material_item__title.hover {
        border-color: #fff; }
      .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_item .material_item__title {
        margin: 0 15px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: absolute;
        bottom: 40px;
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 1px;
        border-bottom: 1px solid transparent;
        -webkit-transition: all .1s linear;
        transition: all .1s linear; }
        .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_item .material_item__title:hover {
          border-color: #fff; }
      .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_item .material_item__bottom {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: absolute;
        bottom: 0;
        padding: 0 15px 10px 15px;
        width: 100%;
        font-size: 13px;
        line-height: 24px; }
        .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_item .material_item__bottom .mi__bottom__tag:hover {
          text-decoration: underline; }
        .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_item .material_item__bottom .mi__bottom__viewers {
          margin-left: auto; }
          .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_item .material_item__bottom .mi__bottom__viewers i {
            padding-right: 3px; }
        .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_item .material_item__bottom .mi__bottom__date {
          margin-right: 10px; }
    .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_board {
      width: -webkit-calc(100%-450px);
      width: calc(100%-450px);
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0 15px 5px 15px; }
      .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_board-link {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin-bottom: 10px; }
        .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_board-link .board-link__date {
          font-size: 13px;
          line-height: 24px;
          color: #5f5f5f;
          margin-right: 10px;
          vertical-align: middle; }
        .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_board-link .board-link__tag {
          font-size: 13px;
          line-height: 24px;
          color: #61b739;
          text-decoration: none;
          vertical-align: middle; }
          .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_board-link .board-link__tag:hover {
            color: #6ac052;
            text-decoration: underline; }
        .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_board-link .board-link__description {
          margin-top: 5px;
          width: 100%;
          color: #000; }
          .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_board-link .board-link__description:hover > p {
            border-color: #999; }
          .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_board-link .board-link__description p {
            display: inline;
            margin: 0;
            border-bottom: 1px solid transparent;
            -webkit-transition: all .1s linear;
            transition: all .1s linear;
            font-size: 15px;
            line-height: 22px;
            font-weight: 400;
            padding-bottom: 1px; }
        .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_board-link:last-child {
          margin-bottom: 0; }
  .special_block:after, .special_block:before {
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #dfdfdf; }
  .special_block:after {
    top: 30px; }
  .special_block:before {
    bottom: 30px; }

.media_block {
  position: relative;
  background-color: #fff;
  padding: 50px 20px; }
  .media_block .media_block__board {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .media_block .media_block__board .material_item {
      width: 32%; }
      .media_block .media_block__board .material_item__photo {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        opacity: 0.9; }
        .media_block .media_block__board .material_item__photo img {
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          width: inherit; }
        .media_block .media_block__board .material_item__photo i {
          position: absolute;
          left: 15px;
          bottom: 15px;
          font-size: 40px;
          color: #fff; }
        .media_block .media_block__board .material_item__photo:hover + .material_item__bottom + .material_item__title {
          border-color: #000; }
      .media_block .media_block__board .material_item__bottom {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        font-size: 13px;
        line-height: 24px; }
        .media_block .media_block__board .material_item__bottom .mi__bottom__tag {
          font-size: 13px;
          line-height: 24px;
          color: #61b739; }
          .media_block .media_block__board .material_item__bottom .mi__bottom__tag:hover {
            text-decoration: underline; }
        .media_block .media_block__board .material_item__bottom .mi__bottom__viewers {
          font-size: 13px;
          line-height: 16px;
          color: #b2b2b2;
          margin-left: auto; }
          .media_block .media_block__board .material_item__bottom .mi__bottom__viewers i {
            padding-right: 3px; }
        .media_block .media_block__board .material_item__bottom .mi__bottom__date {
          margin-right: 10px;
          font-size: 13px;
          line-height: 24px;
          color: #5f5f5f;
          display: inline-block; }
      .media_block .media_block__board .material_item__title {
        color: #000;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 1px;
        border-bottom: 1px solid transparent;
        -webkit-transition: all .1s linear;
        transition: all .1s linear; }
        .media_block .media_block__board .material_item__title:hover {
          border-color: #000; }
    .media_block .media_block__board .board-more {
      margin-top: 50px; }
  .media_block:after {
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #dfdfdf; }
  .media_block:after {
    top: 30px; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #333;
  color: #fefefe;
  padding: 20px 30px 40px 30px; }
  .footer a {
    color: #fefefe;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear; }
  .footer .footer__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 64%;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .footer .footer__info h2 {
      color: #b3b3b3;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      margin: 20px 0 10px 0; }
    .footer .footer__info a {
      font-size: 15px;
      line-height: 20px;
      color: #fefefe;
      margin-top: 10px;
      -webkit-transition: all 0.1s linear;
      transition: all 0.1s linear; }
      .footer .footer__info a:hover {
        color: #6ac052; }
    .footer .footer__info__left {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 50%; }
      .footer .footer__info__left span {
        margin-top: 50px;
        font-size: 14px; }
    .footer .footer__info__right {
      margin-top: 50px;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 50%; }
  .footer .footer__social {
    width: 36%; }
    .footer .footer__social h3 {
      color: #b3b3b3;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      margin: 20px 0 20px 0; }
    .footer .footer__social .footer__social__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .footer .footer__social .footer__social__list a {
        -webkit-border-radius: 4px;
                border-radius: 4px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 6px;
        width: 32px;
        height: 32px;
        background-color: #fff;
        color: #333; }
        .footer .footer__social .footer__social__list a i {
          font-size: 22px; }
        .footer .footer__social .footer__social__list a:hover {
          background-color: #6ac052; }
  .footer .footer__subscribe__btn {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 2px solid #ababab;
    display: inline-block;
    width: 100%;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 38px;
    color: #000;
    background: #fff;
    margin-top: 20px; }
    .footer .footer__subscribe__btn:hover {
      border-color: #6ac052; }
  .footer .footer__developer {
    display: inline-block;
    margin-top: 30px; }
  .footer .footer__bottom {
    margin-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }

@media screen and (max-width: 1500px) {
  .body-wrap, .header {
    width: 960px; }
  .slide_up {
    margin-left: 409px; }
  .news {
    padding-left: 15px;
    padding-right: 15px; }
  .read_block, .projects_block, .footer {
    padding: 50px 15px; } }

@media screen and (max-width: 992px) {
  .body-wrap, .header {
    width: 750px; }
  .header .header-wrap {
    position: relative;
    padding: 8px; }
  .header__logo {
    height: 30px;
    width: 170px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__logo img {
      width: 100%; }
  .header__menu-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .header .menu-mobile-close {
    cursor: pointer; }
    .header .menu-mobile-close i {
      background-color: transparent; }
      .header .menu-mobile-close i:before {
        bottom: 0;
        background-color: #333;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
                transform: rotate3d(0, 0, 1, -45deg); }
      .header .menu-mobile-close i:after {
        top: 0;
        background-color: #333;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
                transform: rotate3d(0, 0, 1, 45deg); }
    .header .menu-mobile-close:hover i:after, .header .menu-mobile-close:hover i:before {
      background-color: #61b739; }
  .header__nav {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    z-index: -5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: -40px;
    background-color: #fff;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    padding: 10px 20px;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .header__nav .nav__main {
      margin: auto; }
      .header__nav .nav__main ul li a {
        padding: 4px 5px;
        margin: 4px 5px; }
    .header__nav .nav__bottom {
      margin: 20px auto 0 auto; }
    .header__nav-opened {
      top: 60px; }
  .slide_up {
    margin-left: 318px; }
  .news__carousel {
    width: 100%; }
    .news__carousel .material_item {
      -webkit-transition: all .1s linear;
      transition: all .1s linear;
      width: 100%; }
      .news__carousel .material_item .material_item__photo {
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%; }
        .news__carousel .material_item .material_item__photo:hover {
          opacity: 0.9; }
      .news__carousel .material_item .material_item__photo.hover {
        opacity: 0.9; }
      .news__carousel .material_item img {
        width: inherit;
        height: auto; }
      .news__carousel .material_item .material_item__title.hover {
        border-color: #fff; }
      .news__carousel .material_item .material_item__title {
        margin: 0 15px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: absolute;
        bottom: 40px; }
        .news__carousel .material_item .material_item__title p {
          display: inline;
          font-size: 18px;
          line-height: 24px;
          padding-bottom: 1px;
          border-bottom: 1px solid transparent;
          -webkit-transition: all .1s linear;
          transition: all .1s linear;
          margin: 0; }
          .news__carousel .material_item .material_item__title p:hover {
            border-color: #fff; }
      .news__carousel .material_item .material_item__bottom {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: absolute;
        bottom: 0;
        padding: 0 15px 10px 15px;
        width: 100%;
        font-size: 13px;
        line-height: 24px; }
        .news__carousel .material_item .material_item__bottom .mi__bottom__tag ul {
          padding: 0;
          margin: 0;
          list-style: none; }
          .news__carousel .material_item .material_item__bottom .mi__bottom__tag ul li {
            display: none; }
            .news__carousel .material_item .material_item__bottom .mi__bottom__tag ul li:first-child {
              display: block; }
        .news__carousel .material_item .material_item__bottom .mi__bottom__tag:hover {
          text-decoration: underline; }
        .news__carousel .material_item .material_item__bottom .mi__bottom__viewers {
          margin-left: auto; }
          .news__carousel .material_item .material_item__bottom .mi__bottom__viewers i {
            padding-right: 3px; }
        .news__carousel .material_item .material_item__bottom .mi__bottom__date {
          margin-right: 10px; }
    .news__carousel .owl-nav {
      height: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .news__carousel .owl-nav i {
        color: #fff;
        line-height: 36px;
        font-size: 36px; }
      .news__carousel .owl-nav .owl-prev, .news__carousel .owl-nav .owl-next {
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        width: 36px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%; }
      .news__carousel .owl-nav .owl-prev {
        left: 0; }
      .news__carousel .owl-nav .owl-next {
        right: 0; }
  .news__board {
    margin-top: 10px;
    padding: 0;
    width: 100%; }
  .read_block__top .material_item {
    width: 100%; }
    .read_block__top .material_item:first-child {
      margin-bottom: 30px; }
  .read_block__other {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .read_block__other .material_item {
      margin-bottom: 30px;
      width: -webkit-calc(50% - 13px);
      width: calc(50% - 13px); }
      .read_block__other .material_item__photo {
        display: block; }
        .read_block__other .material_item__photo img {
          height: 100%;
          width: 100%; }
  .projects_block .pb__slider-wrapp .pb__slider .material_item__photo {
    width: 300px; }
    .projects_block .pb__slider-wrapp .pb__slider .material_item__photo img {
      display: none; }
  .projects_block .pb__slider-wrapp .pb__slider .material_item__info {
    width: -webkit-calc(100% - 300px);
    width: calc(100% - 300px); }
  .projects_block .pb_other h3 {
    right: auto;
    left: 330px; }
  .projects_block .pb_other .pb_thumbnail-wrapp {
    width: -webkit-calc(100% - 320px);
    width: calc(100% - 320px); }
    .projects_block .pb_other .pb_thumbnail-wrapp .pb-thumbnail-slider {
      width: -webkit-calc(100% - 72px);
      width: calc(100% - 72px); }
  .special_block .sb_thumbnail-wrapp .sb_thumbnail-slider span {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    text-align: center; }
  .special_block .sb__slider-wrapp .sb__slider .sb__slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_item {
      width: 100%; }
    .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_board {
      margin-top: 10px;
      padding: 0;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_board-link {
        width: 47%;
        margin-bottom: 10px; }
  .footer {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-bottom: 30px; }
    .footer .footer__info {
      width: 100%; }
    .footer .footer__social {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      width: 100%; }
      .footer .footer__social h3 {
        width: 50%; }
      .footer .footer__social .footer__social__list {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
        width: 50%; }
      .footer .footer__social .footer__subscribe__btn {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
        margin: 0;
        width: 50%; }
    .footer .footer__bottom .footer__developer {
      margin-top: 0; } }

@media screen and (max-width: 768px) {
  .body-wrap, .header {
    width: 100%; }
  .slide_up {
    right: 15px;
    margin: 0;
    left: auto; }
  .read_block__title {
    padding-left: 0; }
  .read_block__top {
    margin: 0 0 30px 0; }
    .read_block__top .material_item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      width: 100%; }
      .read_block__top .material_item a.material_item__title {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
        margin: 0;
        position: static;
        padding-bottom: 3px;
        font-weight: 600;
        font-size: 15px;
        line-height: 23px;
        color: #000; }
      .read_block__top .material_item__bottom {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
        padding: 0;
        position: static;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        font-size: 13px;
        line-height: 24px; }
        .read_block__top .material_item__bottom .mi__bottom__date {
          color: #000;
          margin-right: 10px; }
        .read_block__top .material_item__bottom .mi__bottom__tag {
          color: #6ac052; }
          .read_block__top .material_item__bottom .mi__bottom__tag:hover {
            text-decoration: underline; }
        .read_block__top .material_item__bottom .mi__bottom__viewers {
          color: #b2b2b2;
          margin-left: auto; }
          .read_block__top .material_item__bottom .mi__bottom__viewers i {
            padding-right: 3px; }
      .read_block__top .material_item:first-child {
        margin-bottom: 30px; }
  .read_block__other {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .read_block__other .material_item {
      margin-bottom: 30px;
      width: 100%; }
      .read_block__other .material_item__photo {
        display: block; }
        .read_block__other .material_item__photo img {
          height: 100%;
          width: 100%; }
  .projects_block {
    padding: 0; }
    .projects_block:after, .projects_block:before {
      display: none; }
    .projects_block h2 {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-left: 15px; }
    .projects_block .pb__slider-wrapp {
      border: none; }
      .projects_block .pb__slider-wrapp .pb__slider .material_item {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
        .projects_block .pb__slider-wrapp .pb__slider .material_item__photo {
          width: 100%; }
          .projects_block .pb__slider-wrapp .pb__slider .material_item__photo img {
            display: block; }
        .projects_block .pb__slider-wrapp .pb__slider .material_item__info {
          padding-bottom: 0;
          width: 100%; }
          .projects_block .pb__slider-wrapp .pb__slider .material_item__info .mi__info__title {
            margin-top: 0; }
          .projects_block .pb__slider-wrapp .pb__slider .material_item__info .mi__info__description {
            font-weight: 500; }
    .projects_block .pb_other h3 {
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0 20px;
      position: static;
      margin-bottom: 15px;
      right: auto;
      left: 330px; }
    .projects_block .pb_other .pb_thumbnail-wrapp {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      position: static;
      width: 100%; }
  .special_block {
    padding: 50px 15px; }
    .special_block .sb__slider-wrapp .sb__slider .sb__slide {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_board {
        margin-top: 0; }
        .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_board-link {
          width: 100%;
          border-top: 1px solid #dfdfdf; }
  .media_block {
    padding: 50px 15px; }
    .media_block .media_block__board .material_item {
      margin-bottom: 30px;
      width: 100%; }
      .media_block .media_block__board .material_item:last-child {
        margin-bottom: 0; }
    .media_block .media_block__board .board-more {
      margin-top: 20px; }
  .footer {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-bottom: 30px; }
    .footer .footer__info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer .footer__info__right {
        margin-top: 0; }
    .footer .footer__social {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer .footer__social .footer__social__list {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
        width: 100%; }
      .footer .footer__social .footer__subscribe__btn {
        margin-top: 20px;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
        padding: 0 10px;
        width: auto; }
    .footer .footer__bottom {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer .footer__bottom .footer__developer {
        margin-top: 10px; } }
