@media screen and (max-width: 1500px) {
  .body-wrap, .header {
    width: 960px; }
  .slide_up {
    margin-left: 409px; }
  .news {
    padding-left: 15px;
    padding-right: 15px; }
  .read_block, .projects_block, .footer {
    padding: 50px 15px; } }

@media screen and (max-width: 992px) {
  .body-wrap, .header {
    width: 750px; }
  .header .header-wrap {
    position: relative;
    padding: 8px; }
  .header__logo {
    height: 30px;
    width: 170px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__logo img {
      width: 100%; }
  .header__menu-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .header .menu-mobile-close {
    cursor: pointer; }
    .header .menu-mobile-close i {
      background-color: transparent; }
      .header .menu-mobile-close i:before {
        bottom: 0;
        background-color: #333;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
                transform: rotate3d(0, 0, 1, -45deg); }
      .header .menu-mobile-close i:after {
        top: 0;
        background-color: #333;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
                transform: rotate3d(0, 0, 1, 45deg); }
    .header .menu-mobile-close:hover i:after, .header .menu-mobile-close:hover i:before {
      background-color: #61b739; }
  .header__nav {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    z-index: -5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: -40px;
    background-color: #fff;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    padding: 10px 20px;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .header__nav .nav__main {
      margin: auto; }
      .header__nav .nav__main ul li a {
        padding: 4px 5px;
        margin: 4px 5px; }
    .header__nav .nav__bottom {
      margin: 20px auto 0 auto; }
    .header__nav-opened {
      top: 60px; }
  .slide_up {
    margin-left: 318px; }
  .news__carousel {
    width: 100%; }
    .news__carousel .material_item {
      -webkit-transition: all .1s linear;
      transition: all .1s linear;
      width: 100%; }
      .news__carousel .material_item .material_item__photo {
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%; }
        .news__carousel .material_item .material_item__photo:hover {
          opacity: 0.9; }
      .news__carousel .material_item .material_item__photo.hover {
        opacity: 0.9; }
      .news__carousel .material_item img {
        width: inherit;
        height: auto; }
      .news__carousel .material_item .material_item__title.hover {
        border-color: #fff; }
      .news__carousel .material_item .material_item__title {
        margin: 0 15px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: absolute;
        bottom: 40px; }
        .news__carousel .material_item .material_item__title p {
          display: inline;
          font-size: 18px;
          line-height: 24px;
          padding-bottom: 1px;
          border-bottom: 1px solid transparent;
          -webkit-transition: all .1s linear;
          transition: all .1s linear;
          margin: 0; }
          .news__carousel .material_item .material_item__title p:hover {
            border-color: #fff; }
      .news__carousel .material_item .material_item__bottom {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: absolute;
        bottom: 0;
        padding: 0 15px 10px 15px;
        width: 100%;
        font-size: 13px;
        line-height: 24px; }
        .news__carousel .material_item .material_item__bottom .mi__bottom__tag ul {
          padding: 0;
          margin: 0;
          list-style: none; }
          .news__carousel .material_item .material_item__bottom .mi__bottom__tag ul li {
            display: none; }
            .news__carousel .material_item .material_item__bottom .mi__bottom__tag ul li:first-child {
              display: block; }
        .news__carousel .material_item .material_item__bottom .mi__bottom__tag:hover {
          text-decoration: underline; }
        .news__carousel .material_item .material_item__bottom .mi__bottom__viewers {
          margin-left: auto; }
          .news__carousel .material_item .material_item__bottom .mi__bottom__viewers i {
            padding-right: 3px; }
        .news__carousel .material_item .material_item__bottom .mi__bottom__date {
          margin-right: 10px; }
    .news__carousel .owl-nav {
      height: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .news__carousel .owl-nav i {
        color: #fff;
        line-height: 36px;
        font-size: 36px; }
      .news__carousel .owl-nav .owl-prev, .news__carousel .owl-nav .owl-next {
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        width: 36px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%; }
      .news__carousel .owl-nav .owl-prev {
        left: 0; }
      .news__carousel .owl-nav .owl-next {
        right: 0; }
  .news__board {
    margin-top: 10px;
    padding: 0;
    width: 100%; }
  .read_block__top .material_item {
    width: 100%; }
    .read_block__top .material_item:first-child {
      margin-bottom: 30px; }
  .read_block__other {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .read_block__other .material_item {
      margin-bottom: 30px;
      width: -webkit-calc(50% - 13px);
      width: calc(50% - 13px); }
      .read_block__other .material_item__photo {
        display: block; }
        .read_block__other .material_item__photo img {
          height: 100%;
          width: 100%; }
  .projects_block .pb__slider-wrapp .pb__slider .material_item__photo {
    width: 300px; }
    .projects_block .pb__slider-wrapp .pb__slider .material_item__photo img {
      display: none; }
  .projects_block .pb__slider-wrapp .pb__slider .material_item__info {
    width: -webkit-calc(100% - 300px);
    width: calc(100% - 300px); }
  .projects_block .pb_other h3 {
    right: auto;
    left: 330px; }
  .projects_block .pb_other .pb_thumbnail-wrapp {
    width: -webkit-calc(100% - 320px);
    width: calc(100% - 320px); }
    .projects_block .pb_other .pb_thumbnail-wrapp .pb-thumbnail-slider {
      width: -webkit-calc(100% - 72px);
      width: calc(100% - 72px); }
  .special_block .sb_thumbnail-wrapp .sb_thumbnail-slider span {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    text-align: center; }
  .special_block .sb__slider-wrapp .sb__slider .sb__slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_item {
      width: 100%; }
    .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_board {
      margin-top: 10px;
      padding: 0;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_board-link {
        width: 47%;
        margin-bottom: 10px; }
  .footer {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-bottom: 30px; }
    .footer .footer__info {
      width: 100%; }
    .footer .footer__social {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      width: 100%; }
      .footer .footer__social h3 {
        width: 50%; }
      .footer .footer__social .footer__social__list {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
        width: 50%; }
      .footer .footer__social .footer__subscribe__btn {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
        margin: 0;
        width: 50%; }
    .footer .footer__bottom .footer__developer {
      margin-top: 0; } }

@media screen and (max-width: 768px) {
  .body-wrap, .header {
    width: 100%; }
  .header__search__form {
    top: -120px;
    padding: 0; }
    .header__search__form form {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .header__search__form form .header__search__inputbox {
        border-bottom: 2px solid #6ac052;
        text-align: center;
        width: 100%; }
      .header__search__form form .header__search__btn-submit, .header__search__form form .header__search__btn-close {
        height: 50px;
        background-color: #fff;
        width: 50%; }
  .header__search__form-active {
    top: 0; }
  .slide_up {
    right: 15px;
    margin: 0;
    left: auto; }
  .read_block__title {
    padding-left: 0; }
  .read_block__top {
    margin: 0 0 30px 0; }
    .read_block__top .material_item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      width: 100%; }
      .read_block__top .material_item a.material_item__title {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
        margin: 0;
        position: static;
        padding-bottom: 3px;
        font-weight: 600;
        font-size: 15px;
        line-height: 23px;
        color: #000; }
      .read_block__top .material_item__bottom {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
        padding: 0;
        position: static;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        font-size: 13px;
        line-height: 24px; }
        .read_block__top .material_item__bottom .mi__bottom__date {
          color: #000;
          margin-right: 10px; }
        .read_block__top .material_item__bottom .mi__bottom__tag {
          color: #6ac052; }
          .read_block__top .material_item__bottom .mi__bottom__tag:hover {
            text-decoration: underline; }
        .read_block__top .material_item__bottom .mi__bottom__viewers {
          color: #b2b2b2;
          margin-left: auto; }
          .read_block__top .material_item__bottom .mi__bottom__viewers i {
            padding-right: 3px; }
      .read_block__top .material_item:first-child {
        margin-bottom: 30px; }
  .read_block__other {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .read_block__other .material_item {
      margin-bottom: 30px;
      width: 100%; }
      .read_block__other .material_item__photo {
        display: block; }
        .read_block__other .material_item__photo img {
          height: 100%;
          width: 100%; }
  .projects_block {
    padding: 0; }
    .projects_block:after, .projects_block:before {
      display: none; }
    .projects_block h2 {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-left: 15px; }
    .projects_block .pb__slider-wrapp {
      border: none; }
      .projects_block .pb__slider-wrapp .pb__slider .material_item {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
        .projects_block .pb__slider-wrapp .pb__slider .material_item__photo {
          width: 100%; }
          .projects_block .pb__slider-wrapp .pb__slider .material_item__photo img {
            display: block; }
        .projects_block .pb__slider-wrapp .pb__slider .material_item__info {
          padding-bottom: 0;
          width: 100%; }
          .projects_block .pb__slider-wrapp .pb__slider .material_item__info .mi__info__title {
            margin-top: 0; }
          .projects_block .pb__slider-wrapp .pb__slider .material_item__info .mi__info__description {
            font-weight: 500; }
    .projects_block .pb_other h3 {
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0 20px;
      position: static;
      margin-bottom: 15px;
      right: auto;
      left: 330px; }
    .projects_block .pb_other .pb_thumbnail-wrapp {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      position: static;
      width: 100%; }
  .special_block {
    padding: 50px 15px; }
    .special_block .sb__slider-wrapp .sb__slider .sb__slide {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_board {
        margin-top: 0; }
        .special_block .sb__slider-wrapp .sb__slider .sb__slide .material_board-link {
          width: 100%;
          border-top: 1px solid #dfdfdf; }
  .media_block {
    padding: 50px 15px; }
    .media_block .media_block__board .material_item {
      margin-bottom: 30px;
      width: 100%; }
      .media_block .media_block__board .material_item:last-child {
        margin-bottom: 0; }
    .media_block .media_block__board .board-more {
      margin-top: 20px; }
  .footer {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-bottom: 30px; }
    .footer .footer__info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer .footer__info__right {
        margin-top: 0; }
    .footer .footer__social {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer .footer__social .footer__social__list {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
        width: 100%; }
      .footer .footer__social .footer__subscribe__btn {
        margin-top: 20px;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
        padding: 0 10px;
        width: auto; }
    .footer .footer__bottom {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer .footer__bottom .footer__developer {
        margin-top: 10px; } }
