.primary_button{
	font-family: "Open sans";
	box-sizing: border-box;
	background-color: #30AE63;
	border-radius: 2px;
	padding: 11px 20px;
	border: 1px solid transparent;
    text-align: center;
    display: inline-block;
    color: #fff;
	font-size: 14px;
    margin-top: 29px;
    width: 320px;
    padding-left: 25px;
    line-height: 18px;
}
.primary_button:focus{
	outline: none;
}
.primary_button:hover{
	background-color: #50DB88;
	border: 1px solid #DFE3E6;
}
.white_button{
	background-color: #fff;
	border: 2px solid #30AE63;
	border-radius: 2px;
	color: #30AE63;
	text-align: center;
	line-height: 17px;
	padding: 11px 19px;
}
.white_button:hover{
	border-radius: none;
	background-color: #30AE63;
	color: #fff;
}
.white_button:disabled{
	opacity: 0.4;
}