$first_color: #30AE63;
$first_color-hover: #50DB88;
$second_color: #fff;
$second_color-hover: #30AE63;
.primary_button{
	font-family: "Open sans";
	box-sizing: border-box;
	background-color: $first_color;
	border-radius: 2px;
	border: 1px solid transparent;
    text-align: center;
    display: inline-block;
    color: #fff;
	font-size: 14px;
    line-height: 18px;
	padding: 11px 20px 11px 25px;
	transition: .5s;
	&:hover{
		border-radius: 0;
		background-color: $first_color-hover;
		border: 1px solid #DFE3E6;
	}
	&:focus{
		outline: none;
	}
	&:disabled{
		opacity: 0.4;
	}
}
.second_button{
	background-color: $second_color;
	border: 2px solid #30AE63;
	border-radius: 2px;
	color: #30AE63;
	text-align: center;
	line-height: 17px;
	padding: 11px 19px;
	transition: .5s;
	&:hover{
		border-radius: none;
		background-color: $second_color-hover;
		color: #fff;
	}
	&:focus{
		outline: none;
	}
	&:disabled{
		opacity: 0.4;
	}
}
