.footer{
	padding: 60px 23px 0 23px;
	max-width: 844px;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	ul{
		width: 202px;
		margin: 0 12px 0 0;
		padding: 0;
		li{
			width: 162px;
			font-size: 13px;
			line-height: 20px;
			list-style: none;
			margin-bottom: 16px;
			a{
				color: #152935;
			}
			a:hover{
				opacity: 0.8;
			}
		}
		li:first-child{
			margin-bottom: 12px;
			font-size: 16px;
			line-height: 32px;
		}
	}
	&__contacts{
		width: 162px;
		h4{
			margin: 0;
			font-weight: 500;
			font-size: 16px;
			line-height: 32px;
		}
		.footer__social{
			margin-top: 12px;
			display: flex;
			align-items:center;
			a{
				margin-right: 15px;
				display: block;
				background:transparent url(../img/sprite.png) no-repeat;
			}
			a:hover{
				opacity: 0.7;
			}
			.icon_fb{
				background-position: -100px 0;
				width: 17px;
				height: 18px;
			}
			.icon_vk{
				background-position: -55px 0;
				width: 22px;
				height: 12px;
			}
			.icon_insta{
				background-position: -80px 0;
				width: 17px;
				height: 18px;
			}
		}
		p{
			margin: 0;
		}
		.footer__street{
			font-size: 13px;
			line-height: 20px;
			margin-top: 12px;
		}
		.footer__town{
			margin-top: 5px;
			line-height: 20px;
			font-size: 11px;
		}
		.footer__emial{
			display: inline-block;
			margin-top: 15px;
			color: #152935;
			font-size: 13px;
			line-height: 20px; 
		}
		.footer__button{
			margin-top: 16px;
			line-height: 18px;
			font-size: 14px;
			padding: 11px 21px 9px 22px;
			width: 100%;
			box-sizing: border-box;
			display: block;
		}
	}
	&__logo{
		display: block;
		margin: 44px auto 0 auto;

	}
}
@import 'responsive/responsive_footer';