.metro_point{
	display: inline-block;
	width: 8px; 
	height: 8px;
	border-radius: 50%;
	margin-right: 12px;
}
.metro_red{
	background-color: #E71D32;
}
.metro_blue{
	background-color: #2573D8;
}
.metro_green{
	background-color: #30AE63;
}