.overflow__menu{
	text-align: left;
	cursor: auto;
	border: 1px solid #D8D8D8;
	padding: 9px 0 6px 0;
	box-sizing: border-box;
	z-index: 11;
	background-color: #fff;
	min-width: 180px;
	position: absolute;
	display: none;
	flex-direction: column;
	transition: .5s;
	a{
		transition: .5s;
		font-size: 14px;
		line-height: 17px;
		color: #152935;
		padding: 7px 16px 6px 16px;
		display: block;
		margin:0;
		&:hover{
			color: #fff!important;
			background-color: #30AE63;
		}
	}
	.overflow__link-danger{
		border-top: 1px solid #D8D8D8;
		&:hover{
			color: #fff;
			background-color: #E71D32!important;	
		}
	}
	&:after{
		position: absolute;
		top: -7px;
		right: 24px;
		content: '';
		width: 12px;
		height: 12px;
		border: 1px solid #D8D8D8;
		border-right: none;
		background-color: #fff;
		border-bottom: none;
		z-index: 10;
		transform: rotate(45deg);
	}
}