$width_1: 890px;
$width_2: 788px;
$width_3: 570px;
$width_4: 483px;
@media screen and (max-width: $width_1) {
	.board{
		.board__items{
			box-sizing: border-box;
			overflow-x: scroll;
			width: 100%;
		}
	}
	.telegram{
		.telegram__header{
			
			
			h2{
			}
			p{
			}
			.telegram__button{
			}
		}
		.telegram__slider{
			min-height: auto;
			.telegram__slide{
				.telegram__img{
					display: none;
				} 
				.telegram__info{
					margin: auto;
				}
			}
		}
	}
	.footer{
		ul{
			text-align: center;
			width: 50%;
			margin: 0;
			li{
				width: 100%;
			}
		}
		&__contacts{
			text-align: center;
			width: 50%;
			.footer__social{
				display: inline-flex;
				margin: auto;
			}
		}
		&__logo{
			width: 100%;
			text-align: center;
		}
	}
}
@media screen and (max-width: $width_2) {
	.header{
		text-align: center;
		&__interaction{
			margin: 9px auto 0 auto;
		}
		&__title{
			margin-top: 20px;
		}
		&__search{
			text-align: left;
			.header__town{
				.header__select{
					width: 250px;
					label{
						width: 200px;
					}
				}
			}
		}
	}
	.metro{
		flex-wrap: wrap;
		&__img{
		    width: 100%;
		    order: 1;
		    img{
		    	display: block;
				margin: auto;
		    }
		}
		&__text{
			margin: auto;
		    order: 2;
		    margin-top: 20px;
		}
	}
	.metrovka{
		margin-top: 5px;
		&__header{
			padding-left: 38px;
			padding-right: 38px;
			width: auto;
			h3{
				font-size: 20px;
			}
		}
		&__items{
			flex-wrap: wrap;
			flex-direction: column;
			.metrovka__item{
				padding-bottom: 13px;
				box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
				border: 0px solid #DFE3E6;
				width: 50%;
				margin: 0 auto 20px auto;
				.category,p,div{
					padding: 0 20px;
				}
			}
			.metrovka__item:last-child{
				margin: 0 auto ;
			}
		}
	}
}
@media screen and (max-width: $width_3){
	.header{
		&__title{
			text-align: left;
		}
		&__search{
			margin-top: 32px;
			.header__town{
			}
			.rooms{
				margin-top: 31px;
			}
			.header__submit{
				margin-top: 30px;
				padding: 10px 56px 11px 28px;
			}
		}
	}
	.metrovka{
		&__items{
			.metrovka__item{
				width: 320px;
			}
		}
	}
}
@media screen and (max-width: $width_4){
	.header{
		&__container{
			padding: 20px 25px 26px 16px;
		}
		&__nav{
			a{
				display: none;
			}
			.nav__link_active{
				display: block;
			}
			.header__logo{
				display: block;
				margin-top: 3px;
				margin-right: 25px;
			}
		}
		&__interaction{
			display: none;
		}
		&__title{
			margin-top: 40px;
    		padding-right: 60px;
			font-size: 24px;
			letter-spacing: -0.2px;
		}
		&__menu-mob{
			display: block;
		}
		&__search{
			margin-top: 30px;
			.header__town{
				.header__select{
					width: 313px;
					label{
						width: 263px;
					}
				}
			}
		}
		.header__menu-mob{
			margin-top: 14px;
			margin-left: auto;
			display: block;
		}
	}
	.metro{
		padding: 20px 12px;
		text-align: center;
		padding-right: 3px;
		&__img{
			margin-right: 0!important;
			height: 213px;
			width: 100%;
		    img{
		    	width: 100%;
		    	height: 100%;
		    }
		}
		.metro__title{
			font-size: 20px!important;
		}
		.metro__select{
			margin-top: 30px!important;
			text-align: left;
			margin: auto;
			label{
				i{
					margin-right: 12px;
				}
			}
		}
		.rooms__type{
			display: inline-block;
		}
		.primary_button{
			width: 100%;
		}
	}
	.board{
		h2{
			font-size: 20px;
		}
	}
	.telegram{
		margin: 0;
		.telegram__header{
			width: auto;
			padding-top: 18px;
			h2{
				padding: 0 20px;
				font-size: 20px;
			}
			p{
				padding: 0 20px;
			}
			.telegram__button{
				box-sizing: border-box;
				width: 100%;
				margin-top: 17px;
				padding-left: 6px;
				padding-right: 6px;
			}
		}
		.telegram__slider{
			.telegram__slide{
				.telegram__img{
				} 
				.telegram__info{
					padding: 25px 39px;
					box-sizing: border-box;
					width: 100%;
					h5{
						font-size: 20px;
					}
					.telegram__join{
						margin-top: 31px;
						width: 100%;
					}
					ol{
						padding-left: 4px;
						li{
							margin-bottom: 20px;
						}
					}
				}
			}
			.slider__nav{
				margin-top: 25px;
			}
		}
	}
	.footer{
		ul{
			margin-bottom: 15px;
			width: 100%;
			li{
				box-sizing:border-box;
				padding: 0 75px;
			}
		}
		&__contacts{
			text-align: center;
			width: 100%;
			.footer__button {
				width: 52%;
				margin-left: auto;
				margin-right: auto;
			}
		}
		&__logo{
			margin-top: 60px;
		}
	}
}