body{
	font-size: 14px;
	line-height: 17px;
	font-family: 'Open Sans';
	background-color: rgba(90,104,114, 0.08);
	font-weight: 500;
}
@import 'buttons';
@import 'overflow_menu';
@import 'metro_icon';
@import 'header';
@import 'footer';
@import 'hamburger';
@import 'select';
@import 'request';
.article_body{
	align-items:stretch;
	display: flex;
	.google_map{
		iframe{
			height: 100%;
			width: 100%;
		}
	}
}
.header{
	&__container{
		box-sizing: border-box;
		padding-top: 12px;
		padding-bottom: 2px;
	}
}
.rent{
	box-sizing: border-box;
	max-width: 890px;
	width: 890px;
	margin: auto;
	&__header{
		padding: 0 20px;
		.breadcrumb{
			padding-top: 20px;
			display: inline-flex;
			a{
				margin-right: 6px;
				color: #2573D8;
				text-decoration: none;
			}
			a:after{
				margin-left: 5px;
				content: '/';
			}
			a:last-child:after{
				display: none;
			}
			.breadcrumb_home{
				display: none;
			}
		}
		h2{
			margin-top: 14px;
			font-weight: 500; 	
			font-size: 20px;
			line-height: 32px;
			color: #152935;
		}
		.rent__sort_box{
			margin-top: 18px;
			color: #8C9BA5;
			width: 100%;
			display: flex;
			a{
				margin-right: 24px;
				color: #8C9BA5;
				position: relative;
				display: inline-block;
				line-height: 17px;
			}
			a:hover{
				opacity: 0.7;
			}
			a:after{
				content: '';
				position: absolute;
				display: block;
				width: 0;
				height: 0;
				border-top: 5px solid #8C9BA5;
				border-right: 5px solid transparent;
				border-left: 5px solid transparent; 
				right: -24px;
				top: 6px;
			}
			.rent__sort{
				margin-right: 62px;
				margin-left: auto;
			}
		}
	}
	&__items{
		padding-top: 20px;
		.rent__item{
			position: relative;
			margin-bottom: 12px;
			background-color: #fff;
			padding: 14px 20px 17px 20px;
			display: flex;
			align-items: flex-start;
			flex-wrap:wrap;
			.rent__photo{
				margin-right: 20px;
			}
			.rent__photo:hover{
				opacity: 0.7;
			}
			.rent__infobox{
				display: none;
				width: 320px;
				h3{
					font-weight: 500;
					font-size: 16px;
					margin-top: 5px;
					margin-bottom: 7px;
					a{
						color: #2C74C7;
					}
					a:hover{
						opacity: 0.7;
					}
				}
				.rent__metro{
					font-size: 12px;
					display: inline-flex;
					.metro_point{
						margin-right: 8px;
					}
					span:first-child{
						margin-right: 19px;
						color: #000;
					}
					span:last-child{
						color: #9B9B9B;
					}
				}
				.rent_features{
					padding-top: 20px;
					h5{
						margin: 0 0 3px 0;
						font-size: 12px;
						line-height: 20px;
						color: rgba(0, 0, 0, 0.6);
					}
					.rent__specifications{
						color: #4A4A4A;
						display: inline-flex;
						align-items: flex-start;
						p{
							margin: 0;
							position: relative;
							font-size: 12px;
						}
						p:first-child{
							margin-right: 10px;
						}
						p:first-child:after{
							background-color: #4A4A4A;
							content: "";
							width: 2px;
							height: 2px;
							border-radius: 50%;
							position: absolute;
							right: -5px;
							top: 9px;
						}
					}
					.rent__info{
						margin: 8px 0 0 0;
						color: #000000;
						font-size: 13px;
						line-height: 20px;
					}
				}
			}
			.rent__options{
				display: none;
				text-align: right;
				width: 148px;
 				margin-left: auto;
				.rent__price{
					display: block;
					text-align: right;
					font-size: 18px;
					color: #4A4A4A;
					margin-top: 4px;
					margin-bottom: 6px;
				}
				.rent__dolars{
					color: #9B9B9B;
					display: flex;
					justify-content: flex-end;
					margin-bottom: 18px;
					p{
						line-height: 26px;	
						margin: 0;
					}
					.rate{
						padding: 0 2px;
						margin-left: 14px;
						cursor: pointer;
						border-bottom: 2px solid #B1B1B1;
					}
				}
				.index__price{
					margin-bottom: 18px;
					text-align: left;
					box-sizing:border-box;
					border-radius: 4px;
					position: relative;
					width: 100%;
					display: inline-block;
					font-size: 13px;
					padding: 10px 32px 10px 12px;
				}
				.index__price:after{
					color: #fff;
					text-align: center;
					line-height: 19px;
					position: absolute;
					content: 'i';
					display: block;
					width: 19px;
					height: 19px;
					top: 10px;
					border-radius: 50%;
					right: 13px;
					background-color: #D8D8D8;
				}
				.high__price{
					background-color: #FFEFEA;
					color: rgba(208,2,2,0.5)
				}
				.low__price{
					background-color: #EAFFF5;
					color: #30AD64;
				}
				.contactme{
					display: flex;
					a{
						width: 70px;
						height: 32px;
						border-radius: 3px;
						i{
							margin: 10px auto;
							display:block;
							background:transparent url('../img/sprite.png') no-repeat;
						}
					}
					a:hover{
						opacity: 0.7;
					}
					.contactme__phone{
						margin-right: 8px;
						border: 2px solid rgba(48,174,99,0.4);
						i{
							width: 14px;
							height: 13px;
							background-position: -142px 0;
						}
					}
					.contactme__massege{
						border: 2px solid rgba(37,115,216,0.4);
						i{
							width: 16px;
							height: 16px;
							background-position: -158px 0;
						}
					}
				}
			}
			.rent__nav{
				margin-top: 20px;
				display: flex;
				width: 100%;
				.rent__next, .rent__prev{
					transition: .5s;
					margin-left: auto;
					position: relative;
					text-align: left;
					width: 112px;
					display: inline-block; 
					margin-left: auto;
					p{
						font-size: 12px;
						margin: 0;
					}
					p:first-child{
						color: #979797;
					}
					p:last-child{
						color: rgba(0, 0, 0, 0.6);
					}
					i{
						position: absolute;
						top: 5px;
						right: 1px;
						display: block;
						width: 11px;
						height: 2px;
						background-color: #979797;
						&:after{
							content: '';
							display: block;
							height: 6px;
							width: 6px;
							border-top: 2px solid #979797;
							border-right: 2px solid #979797;
							transform: rotate(45deg);
							position: absolute;
							top: -3px;
							right: -1px;
						}
					}
					&:hover{
						p{
							color: #30AD64;
						}
						i{
							background-color: #30AD64;
							&:after{
								border-color: #30AD64;
							}
						}
					}
				}
				.rent__prev{
					margin-left: 0;
					padding-left: 20px;
					margin-right: auto;
					i{
						right: auto;
						left: 1px;
						&:after{
							transform: rotate(-135deg);
							right: auto;
							left: -1px;
						}
					}
				}
			}
			.rent__pagination{
				right: 0;
				left: 0;
				bottom: 28px;
				position: absolute;
				display: flex;
				justify-content: center;
				span{
					cursor: pointer;
					margin-right: 6px;
					display: block;
					background-color: #D8D8D8;
					width: 8px;
					height: 8px;
					border-radius: 50%;
				}
				span:last-child{
					margin-right: 0;
				}
				.slider__pagination_active{
					background-color: rgba(0,0,0,0.6);
				}
			}
		}
	}
}
.google_map{
	display: none;
}
@import 'responsive/responsive_listing.scss';