footer.footer
  ul.footer__metrovka
    li
      a(href="#") Metrovka
    li
      a(href="#") О компании
    li
      a(href="#") Пресса о нас
    li
      a(href="#") Пользовательское соглашение
    li
      a(href="#") Карта сайта
    li
      a(href="#") Помощь
  ul.footer__partnership
    li
      a(href="#") Партнерство
    li
      a(href="#") Как разместить обьявление
    li
      a(href="#") Инструменты продвижения
    li
      a(href="#") Правила заполнения объявлений
  ul.footer__more
    li
      a(href="#") Узнайте больше
    li
      a(href="#") Бонусная программа Bonus+
    li
      a(href="#") Telegram Metrovka Bot
    li
      a(href="#") Как работает поиск
    li
      a(href="#") Как пользоваться избранным
  .footer__contacts
    h4 Контакты
    .footer__social
      a(class='icon_fb' href="#")
      a(class='icon_vk' href="#")
      a(class='icon_insta' href="#")
    p.footer__street ул. Жилянская, 37
    p.footer__town Киев, 01033
    a(class='footer__emial' href="mailto:info@metrovka.ua") info@metrovka.ua
    a(class='footer__button primary_button' href="#") Оставить заявку
  .footer__logo
    a(href="#")
      img(src="img/logo_footer.png", alt="Logo")