.hamburger
  a(href="index.html" class='hamburger__logo')
    img(src="img/logo.svg", alt="Logo")
  .hamburger__menu
    a(class='.hamburger__menu-active' href='listing.html') Аренда
    a(href='#') Продажа
    a(href='#') Посуточно
    a(href='#') Блог
    a(href='#') Контакты
    a(href='#') Новый поиск
    a(class='interaction__advert' href='#') 
      |
      i
      |Разместить объявление
    a(href='#') Войти
.hamburger__icon
  i