.header__top
  nav.header__nav
    a(class='header__logo' href="index.html")
      img(class='logo__img' src="img/logo.svg", alt="Logo")
    a.nav__link(class={nav__link_active: currentUrl === 'rent'} href="listing.html") Аренда
    a.nav__link(class={nav__link_active: currentUrl === 'sale'} href="#") Продажа  
    a.nav__link(class={nav__link_active: currentUrl === 'daily_rent'} href="#") Посуточно
    div(class='nav__more nav__link') Еще
      .overflow__menu
        a(href="#") Stop app
        a(href="#") Restart app
        a(href="#") Rename app
        a(href="#") Edit routes and access
        a(class='overflow__link-danger' href="#") Delete app
  .header__interaction
    a(class='interaction__advert' href='#') 
      |
      i
      |Разместить объявление
    a(class='interaction__signin' href='#') Войти
