.header__top
  nav.header__nav
    a(class='header__logo' href="index.html")
      img(class='logo__img' src="img/logo.svg", alt="Logo")
    a.nav__link(class={nav__link_active: currentUrl === 'rent'} href="listing.html") Аренда
    a.nav__link(class={nav__link_active: currentUrl === 'sale'} href="#") Продажа  
    a.nav__link(class={nav__link_active: currentUrl === 'daily_rent'} href="#") Посуточно
    a(class='nav__more nav__link' href="#") Еще
  .header__interaction
    a(class='interaction__advert' href='#') Разместить объявление
    a(class='interaction__signin' href='#') Войти
  a(href="#" class='header__menu-mob')
    img(src="img/header__menu.png", alt="Меню")